<!doctype html>
<html>
  <head>
    <title>About the <%=forumName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>About the <%=forumName%></h1>
    <p>We talk about all kinds of topics here nothing else!</p>
  </body>
</html>