<!doctype html>
<html>
  <head>
    <title>Welcome to the <%=forumName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Welcome to the <%=forumName%></h1>
    <p><a href="about">About <%=forumName%></a></p>
    <p><a href="search">Search for posts</a></p>
    <p><a href="topicList">List of topics</a></p>
    <p><a href="addpost">Add new post</a></p>
    <p><a href="users">Existing users</a></p>
    <p><a href="register">Create an account</a></p>
    <p>
      <a href="signIn" ><button type="button">Sign in</button></a>
    </p>
  </body>
</html>
