<!doctype html>
<html>
  <head>
    <title>Sign into the <%=forumName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Sign into the <%=forumName%></h1>
    <form method="POST" action="/signedin">
        <p>Username: 
            <input id="username" type="text" name="username" value="username" />
        </p>

        <p>Password: 
            <input id="password" type="password" name="password" value=" " />
        </p>

        <input type="submit" value="Sign in" />
      </form>
  </body>
</html>