<!doctype html>

<html>
  <head>
    <title> Welcome to the <%=forumName%> </title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Current topics at <%=forumName%></h1>
    <ul> 
        <!-- loops through the total number of available topics and displays them as a list -->
        <% for(let i = 0; i < availableTopics.length; i++) { %>
            <li> <%= availableTopics[i].name %> </li>
        <% } %>
    </ul>
  </body>
</html>